<div class="box">
<Form (submit)="addTodo(newItem)">
  <h1 class="title">
    todos</h1>
  <input type="text" #newItem>
</Form>
<div *ngFor="let some of items$ | async; let i = index">
  <div (click)="toggleIdField('toggleId_' + i)" [id]="'toggleId_' + i" #newItem> {{some.title}}</div>
  <button (click)="removeTodo(newItem)">X</button>
  </div>
</div>

<!-- <div>
  <input type="text" id="yourname" placeholder="type ur name hither" >
</div>
<button (click)="changeData()">Send Data</button> -->

<router-outlet></router-outlet>